body {
  padding-top: 70px;
  background-image: url('../static/imgProjetMusique/image2.png');
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size: 100%;
  background-color: black;
}

h1,h2,h4,p,label {
  color: white;
}

a {
  color: lightblue;
}

p {
  margin-bottom: 10px;
}

#navbar{
  font-size: large;
}

#intro{
  font-style: italic;
}

.img, img {
  width : 250px;
  height : 250px;
}

.popup>h2,.popup>p{
  color:black;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
}


.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
