{% extends "base.html" %}
{% block main %}
<h1><a href="{{ album.get_url() }}" TARGET="Youtube - "+"{{ album.get_name() }}"> {{ album.get_name() }} </a></h1>
<h2><a href  = "{{ url_for('edit_album', id = album.get_id()) }}"
       class = "btn btn-default">Modifier</a></h2>
<h2><a href="#popup1"
       class = "btn btn-danger">Supprimer</a></h2>

<p> Auteur : <a href = "{{ url_for('author', id = album.get_author()) }}">{{ authorName.get_name() }}</a></p>
<p> Date de réalisation : {{ album.get_year() }}</p>
<p> Compositeur : {{ album.get_composer() }}</p>
<p> Genre(s) :</p>
{% if album.get_genres() == [] %}
<h3> Cet album n'a pas de genre.</h3>
<p>Vous pouvez lui en ajouter en <a href="{{ url_for('edit_album', id = album.get_id()) }}">modifiant l'album</a>.</p>
{% else %}
<ul>
{% for genre in album.get_genres() %}
  <li>
    <p> {{ genre.get_name() }} </p>
  </li>
{% endfor %}
</ul>
{% endif %}
<br>

{% if album.get_musics().count() == 0 %}
<h3> Cet album est vide.</h3>
<p>Vous pouvez y ajouter des musiques en <a href="{{ url_for('edit_album', id = album.get_id()) }}">modifiant l'album</a>.</p>

{% else %}
<h3> Les titres présents dans l'album : </h3>
<ol>
{% for title in album.get_musics() %}
  <li>
    <p><a href="{{ title.get_url() }}" TARGET="Youtube - "+"{{ title.get_name() }}"> {{ title.get_name() }}</a></p>
  </li>
{% endfor %}
</ol>
{% endif %}

<img class="img" src="{{ url_for('static', filename = 'imgProjetMusique/'+ album.get_image()) }}" alt="{{ album.get_name() }}"  border="5">

<div id="popup1" class = "overlay">
    <div class = "popup">
      <h2> Etes-vous sûr de vouloir supprimer cet album ? </h2>
      <p> Cette action le supprimera définitivement ainsi
          que tous les titres qu'il contient. </p>
      <a href="#">
        <button type="button" class="btn btn-default">Annuler</button>
      </a>
      <a href="{{ url_for('delete_album', id=album.get_id()) }}">
        <button type="button" class="btn btn-danger">Supprimer</button>
      </a>
    </div>
</div>
{% endblock %}
