{% extends "base.html" %}
{% block main %}
<h1> {{ titre }} </h1>

  <aside>
    <a href = "{{ url_for('list_authors', page = 1) }}" class = "btn btn-default buttonliste"> Page 1 </a>

    {% if page-50 > 1 %}
    <a href = "{{ url_for('list_authors', page = page-50) }}" class = "btn btn-default buttonliste">-50</a>
    {% endif %}

    {% for i in range(pageMin,page-1) %}
    <a href = "{{ url_for('list_authors', page = i+1) }}" class = "btn btn-default buttonliste">{{i+1}}</a>
    {% endfor %}

    <a href = "{{ url_for('list_authors', page = page) }}" class="btn btn-info">{{ page }}</a>

    {% for i in range(page,pageMax) %}
    <a href = "{{ url_for('list_authors', page = i+1) }}" class = "btn btn-default buttonliste">{{i+1}}</a>
    {% endfor %}

    {% if page+50 < page_number %}
    <a href = "{{ url_for('list_authors', page = page+50) }}" class = "btn btn-default buttonliste">+50</a>
    {% endif %}

    {% if page+100 < page_number %}
    <a href = "{{ url_for('list_authors', page = page+100) }}" class = "btn btn-default buttonliste">+100</a>
    {% endif %}

  </aside>
  <p> Page {{ page }} :</p>
  <ul>
    {% for author in  list %}
    <div class="col-lg-6">
      <div class="row">
        <a href = "{{ url_for('author', id = author.get_id()) }}"><p>{{ author.get_name() }}</p></a>
      </div>
    </div>
    {% endfor %}
  </ul>

{% endblock %}
