{% extends "bootstrap/base.html" %}
{% block title %}{{ titre }}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for ('static', filename ='home.css') }}"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='imgProjetMusique/image2.png') }}">
{% endblock %}
{% block metas %}
{{ super() }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{{ url_for('home') }}">HOME</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="{{ url_for('new_album') }}">Ajouter un album</a></li>
           <li class="active"><a href="{{ url_for('new_author') }}">Ajouter un auteur</a></li>
           <li class="active"><a href="{{ url_for('new_profile') }}">Créer un compte</a></li>
           <li class="active"><a href="{{ url_for('list_albums', page = 1 ) }}">Consulter les albums</a></li>
           <li class="active"><a href="{{ url_for('list_authors', page = 1 ) }}">Consulter les auteurs</a></li>
         </ul>
         <ul class = "nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
             <li><a>{{ current_user.get_id() }}</a></li>
             <li><a href = "{{ url_for('logout') }}">
               <span class = "glyphicon glyphicon-log-out" title = "Logout">
               </span>
             </a></li>
            {% else %}
              <li><a href = "{{ url_for('login') }}">
                <span class = "glyphicon glyphicon-log-in" title = "Login">
                </span>
              </a></li>
            {% endif %}
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
{% endblock %}
{% block content %}
<div class ="container" role="main">
{% block main %}
{% endblock %}
</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% endblock %}
