{% extends "base.html" %}
{% block main %}

  <h1> {{ titre }} </h1>

<form class  = "form-horizontal"
      role = "form"
      method = "POST"
      action = "{{ url_for('search_authors', page = 1) }}">

  <div class="form-group">
    <label for="searchAuthor">Recherchez :</label>
    <input type="text" class="form-control" name="search1" placeholder="Recherchez un auteur"/>
    <input class = "btn btn-default" type ="submit" value = "Trouver l'auteur">
  </div>
</form>

<form class  = "form-horizontal"
      role = "form"
      method = "POST"
      action = "{{ url_for('search_albums', page = 1) }}">

  <div class="form-group">
    <input type="text" class="form-control" name="search2" placeholder="Recherchez un album">
    <input class = "btn btn-default" type ="submit" value = "Trouver l'album">
  </div>
</form>

<h4 id="intro"> Bienvenue sur notre merveilleuse bibliothèque d'album ! Nous vous proposons une bibliothèque comprenant
  de nombreuses fonctionnalités permettant ainsi d'ètre complété par chaque individu. Nous comptons sur la
  coopération de chaque utilisateur pour en faire un site complet et apprécié. </h4>

<br>

<img class="img" src="{{ url_for('static', filename = 'imagenes-con-movimiento-rock-7.gif') }}" alt="GifRock"  border="5">

{% endblock %}
