{% extends "base.html" %}
{% block main %}
<h1> Création d'un compte </h1>
<form class  = "form-horizontal"
      role = "form"
      method = "POST"
      action = "{{ url_for('new_profile_saving') }}">

  {{ form.hidden_tag() }}
  <div class =
       {% if form.username.errors or form.password.errors or form.confirm.errors %}
       "form-creation has-errors"
       {% else %}
       "form-creation"
       {% endif %}
       >
    {{ form.username.label }}
    {{ form.username(size = 20,
                     class_ = "form-control") }}
    </br>
    {{ form.password.label }}
    {{ form.password(size = 20,
                     class_ = "form_control") }}
    </br>
    {{ form.confirm.label }}
    {{ form.confirm(size = 20,
                    class_ = "form-control") }}
    </br>
  </div>
  {% if form.username.errors %}
  <ul class = "list-group">
    {% for e in form.username.errors %}
    <li class = "list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% elif form.password.errors %}
  <ul class = "list-group">
    {% for e in form.password.errors %}
    <li class = "list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% elif form.confirm.errors %}
  <ul class = "list-group">
    {% for e in form.confirm.errors %}
    <li class = "list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <input class = "btn btn-default"
         type  = "submit"
         value = "Créer">
</form>
{% endblock %}
