{% extends "base.html" %}
{% block main %}
<h1> {{titre}} </h1>
<form class  = "form-horizontal"
      role = "form"
      method = "POST"
      action = "{{ url_for(form.get_next()) }}">

  {{ form.hidden_tag() }}
  <div class =
       {% if form.album_name.errors or form.author.errors %}
         "form-creation has-errors"
       {% else %}
         "form-creation"
       {% endif %}
       >
    {{ form.album_name.label }}
    {{ form.album_name(size   = 20,
                      class_ = "form-control") }}
    </br>
    {{ form.author.label }}
    {{ form.author(class_ = "form_control") }}

    </br>
    {{ form.listGenres.label }}
    {{ form.listGenres(size   = 20,
                       class_ = "form-control") }}

    </br>
    {{ form.yearOfReal.label }}
    {{ form.yearOfReal(size   = 20,
                       class_ = "form-control") }}

    </br>
    {{ form.composer.label }}
    {{ form.composer(size   = 20,
                       class_ = "form-control") }}

    </br>
    {{ form.img.label }}
    {{ form.img(size   = 20,
                class_ = "form-control") }}

    </br>

    {{ form.musics.label }}
    {{ form.musics(size   = 20,
                class_ = "form-control") }}
  </div>


  {% if form.album_name.errors %}
    <ul class = "list-group">
    {% for e in form.album_name.errors %}
      <li class = "list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
    </ul>
  {% elif form.author.errors %}
    <ul class = "list-group">
    {% for e in form.author.errors %}
      <li class = "list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
    </ul>
  {% elif form.listGenres.errors %}
    <ul class = "list-group">
    {% for e in form.listGenres.errors %}
      <li class = "list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
    </ul>
  {% elif form.yearOfReal.errors %}
    <ul class = "list-group">
    {% for e in form.yearOfReal.errors %}
      <li class = "list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
    </ul>
  {% elif form.img.errors %}
    <ul class = "list-group">
    {% for e in form.img.errors %}
      <li class = "list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
    </ul>
  {% elif form.musics.errors %}
    <ul class = "list-group">
      {% for e in form.musics.errors %}
        <li class = "list-group-item list-group-item-danger">{{ e }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <input class = "btn btn-default"
         type  = "submit"
         value = "Enregistrer">
</form>
{% endblock %}
